
/**********************Overall-Setting**********************/

body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

img {
  margin: 0;
}

button:focus, input:focus {
  outline: none;
}

/**********************Header-Styles**********************/

.header {
  background-color: #206a5d;
  width: 100%;
  height: 10vh;
  position: fixed;
  margin: 0;
  z-index: 2;
  transition-duration: 0.4s;
}

/* header animation on scroll */
.onscroll {
  background-color: white;
  color: #206a5d;
}

.header-in {
  height: 10vh;
  width: 100%;
  padding: 2vh 5%;
  position: relative;
  display: flex;
}

/* name "cakeaway" on top left */
.brand-name {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  font-weight: normal;
}

.brand-name p {
  margin: auto;
  font-size: 1.5rem;
  font-weight: normal;
}

/* main categories container displayed in header (button also includes)*/
.main-categories {
  width: 32rem;
  display: flex;
  /* margin-left: auto; */
  margin: auto 0 auto auto;
}

.mc-list {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  position: relative;
  justify-content: space-between;
  list-style: none;
}

.mc-list-item {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* transition-duration: 0.4s; */

}

.mc-list-item:hover {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.myshop {
  width: 9.6rem;
  height: 5.3vh;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  margin-right: 11%;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #206a5d;
  transition-duration: 0.4s;
}

.myshop:hover {
  background-color: #81b214;
  color: white;
  border: 2px solid #81b214;
}

.myshop:active {
  opacity: 0.8;
}
/**********************Search_Section**********************/

.search {
  width: 100%;
  height: 18vh;
  padding-top: 10vh;
  z-index: 1;
  background-color: #206a5d;
  position: fixed;
  /* display: none; */
}

/**********************Welcome_Note_Section**********************/

.welcome-note {
  width: 100%;
  height: 70vh;
  position: relative;
  background-color: #206a5d;
  margin: 0;
  padding-top: 10vh;
  /* box-sizing: content-box; */
}

.wn-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;

}

.wn-content {
  position: relative;
  text-align: left;
  width: 50%;

}

.wn-text {
  position: relative;
  margin-right: auto;
  display: flex;
  font-weight: bolder;
  font-size: 2.2rem;
  padding-top: 8vh;
  margin-bottom: 10px;
}

.wn-search {
  position: relative;
  display: flex;

}

.wn-search-input {
  width: 80%;
  border: 3px solid white;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  font-family:'Montserrat', sans-serif;
  color: #206a5d;
  background-image: url(images\loupe.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
}

.wn-search-input:focus {
  background-color: #f6fff8;
}

.wn-search-form {
  width: 70%;
  display: flex;
}

.wn-search-button {
  width: 100px;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 2px solid #81b214;
  border-radius: 3px;
  background-color: #81b214;
  margin-left: 10px;
  transition-duration: 0.15s;
}

.wn-search-button:active {
  opacity: 0.8;
}

.wn-search-button:focus {
  outline: none;
  /* box-shadow:0 0 0 2px #81b214; */
}

.wn-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: right;
}

.wn-image {
  position: relative;
  height: 52vh;
  padding-top: 8vh;
  box-sizing: content-box;
}

/**********************Features_Section**********************/


/* .fi-heading {
  font-size: 1.2rem;
  color: #206a5d;
  margin-bottom: 8px;
}

.fi-subheading {
  color: #206a5d;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0;
} */

/**********************Carrousal_Section**********************/

.test {
  height: 1000px;
  width: 100px;
  background-color: blue;
}


















/* End */
