
/**********************Overall-Setting**********************/

body {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

img {
  margin: 0;
}

button:focus, input:focus {
  outline: none;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

ul li a:hover {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/**********************Header-Styles**********************/

.header {
  background-color: #206a5d;
  width: 100%;
  height: 4.5rem;
  position: fixed;
  margin: 0;
  z-index: 2;
  transition-duration: 0.4s;
}

/* header animation on scroll */
/* .onscroll {
  background-color: white;
  color: #206a5d;
} */

.header-in {
  height: 4.5rem;
  width: 100%;
  padding: 0.9rem 5%;
  position: relative;
  display: flex;
}

/* name "cakeaway" on top left */
.brand-name {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  font-weight: normal;
}

.brand-name p {
  margin: auto;
  font-size: 1.5rem;
  font-weight: normal;
}

/* main categories container displayed in header (button also includes)*/
.main-categories {
  width: 32rem;
  display: flex;
  /* margin-left: auto; */
  margin: auto 0 auto auto;
}

.mc-list {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  position: relative;
  justify-content: space-between;
  list-style: none;
}

/* main categories list item ancher tag */
/* .mcli-a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.mcli-a:hover {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
} */

/* underline animation */
.mcl-item {
  position: relative;
}


/* .mcli-a:hover {
  text-decoration: none;
  color: white;
} */

/*underline should absolutely postioned relative to parent (li) */

.mcli-a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  right: 0;
  background: #fff;
  transition: width 0.4s ease;
}

.mcli-a:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}


/* my shop button styles */
.myshop {
  width: 9.6rem;
  height: 2.4rem;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  margin-right: 11%;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #206a5d;
  transition-duration: 0.15s;
}

.myshop:hover {
  background-color: #81b214;
  color: white;
  border: 2px solid #81b214;
}

.myshop:active {
  background-color: #206a5d;
}
/**********************Search_Section**********************/

.search {
  width: 100%;
  height: 8rem;
  padding-top: 4.5rem;
  z-index: 1;
  background-color: #206a5d;
  position: fixed;
  /* display: none; */
}

.search-container {
  width: 90%;
  margin: 0 auto;
  height: 3.6rem;
  text-align: right;
}

#header-search.wn-search {
  padding: 0.5rem 0 0.9rem 0;
  margin: 0 0 0 auto;
  width: auto;
}

#header-search form {
  width: 35%;
  height: 2.25rem;
  margin-right: auto;
}
/**********************Welcome_Note_Section**********************/

.welcome-note {
  width: 100%;
  height: 31.6rem;
  position: relative;
  background-color: #206a5d;
  margin: 0;
  padding-top: 4.5rem;
  /* box-sizing: content-box; */
}

.wn-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;

}

.wn-content {
  position: relative;
  text-align: left;
  width: 50%;

}

.wn-text {
  position: relative;
  margin-right: auto;
  display: flex;
  font-weight: bolder;
  font-size: 2.2rem;
  padding-top: 3.6rem;
  margin-bottom: 10px;
}

.wn-search {
  position: relative;
  display: flex;

}

.wn-search-input {
  width: 80%;
  border: 3px solid white;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  font-family:'Montserrat', sans-serif;
  color: #206a5d;
  background-image: url(images\loupe.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
}

.wn-search-input:focus {
  background-color: #f6fff8;
}

.wn-search-form {
  width: 70%;
  display: flex;
}

.wn-search-button {
  width: 100px;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 2px solid #81b214;
  border-radius: 3px;
  background-color: #81b214;
  margin-left: 10px;
  transition-duration: 0.15s;
}

.wn-search-button:active {
  background-color: #206a5d;
}

.wn-search-button:focus {
  outline: none;
  /* box-shadow:0 0 0 2px #81b214; */
}

.wn-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: right;
}

.wn-image {
  position: relative;
  height: 23.5rem;
  padding-top: 3.6rem;
  bottom: 0;
  box-sizing: content-box;
}

/**********************Popular_Searches_Section**********************/

/* section styles */
.popular-searches {
  width: 100%;
}

/* items container div */
.ps-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* section heading div */
.ps-heading {
  height: 5.5rem;
  position: relative;
  text-align: left;
  /* margin-top: 0.5rem; */
}

/* section heading h1 element */
.ps-heading-text {
  color: #206a5d;
  font-size: 2rem;
  font-weight: 800;
  padding: 1.75rem 0 1.75rem 0;
  margin-bottom: 0;
  height: 100%;

}

#so-heading {
  height: 5rem;
}

#so-heading h1 {
  color: #206a5d;
  font-size: 2rem;
  font-weight: 800;
  padding: 1.25rem 0 1.25rem 0;
  margin-bottom: 0;
  height: 100%;
}


/* container div for popular cards */
.ps-items {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: inline-block;

}

/* container div for each card */
.ps-item {
  position: relative;
  display: inline-block;
  width: 16.83rem;
  height: 100%;
  padding: 1rem 0.8rem;
}

/**********************Card_styles**********************/

.card {
  text-align: left;
  box-shadow: 0 0 3px grey;
  border: none;
}

.card-img {
  height: 9rem;
  border-radius: 0;
}

.card:hover {
  box-shadow: 0 0 10px grey;
}

.item-name {
  padding: 0.8rem 1rem 0 1rem;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.item-shop-details {
  padding: 0 1rem 0 1rem;
  font-size: 0.7rem;
}

.item-shop-name {
  font-weight: bold;
}

.item-shop-location {

}

.item-price-n-btn {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  justify-content: space-between;
}

.item-price {
  margin: 0.45rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.item-price-amount {

}

/* add to cart button */
.atc-btn {
  width: 7rem;
  height: 5.3vh;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  /* border-radius: 3px; */
  background-color: #81b214;
  transition-duration: 0.15s;
}

.atc-btn:active {
  background-color: #206a5d;
}
/**********************Today_deals_Section**********************/

#today-deals {
  width: 100%;
}

#td-cont {
  width: 90%;
  margin: 0 auto;
}

#td-heading {
  height: 5rem;
}

#td-heading h1 {
  color: #206a5d;
  font-size: 2rem;
  font-weight: 800;
  padding: 1.25rem 0 1.25rem 0;
  margin-bottom: 0;
  height: 100%;
}

.testcard1 {
  position: absolute;
  bottom: 0;
}

#td-container h5 {
  padding-left: 0.5rem;
  color: white;
}

.testv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.testv:hover {
  opacity: 0.5;
}

/**********************Test_Section**********************/

.card-section1 {
  position: relative;
}


.cs1-shop {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cs1-shop h5 {
  padding: 0 0.5rem 0 0.5rem;
}

.card-section2 {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.cs2-val {

}

.cs2-val p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

.rating-in-card {
  width: 3rem;
  height: 19px;
  background-color: red;
}

.card-section3 {
  width: 100%;
  height: 2rem;
  background-color: blue;
  justify-content: space-between;
}






/**********************Footer_Section**********************/

#ca-footer {
  width: 100%;
  background-color: #206a5d;
}

#caf-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

#caf-container ul {
  padding: 0;
}

#caf-container h3 {
  font-size: 1rem;
  font-weight: bold;
}

#caf-container a {
  transition-duration: 0.4s;
}

#caf-container a:hover {
  padding-left: 0.5rem;
}

.cafc-items {
  width: 25%;
  padding-top: 5rem;
  padding-bottom: 3rem;
}























.copyrights {
  padding-bottom: 0.2rem;
  margin-bottom: 0;
  color: white;
  font-weight: lighter;
}

/************************************************************************************* End of index.html*************************************************************************************/

/************************************************************************************* Start of request.html*********************************************************************************/

.filler {
  height: 8rem;
  width: 100%;
}

.ps-item h6 {
  font-size: 0.7rem;
  font-weight: normal;
  padding: 0 1rem 0 1rem;
  margin-bottom: 0;
}

.ps-item h5 {
  font-size: 0.7rem;
  font-weight: normal;
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.3rem;
}

.test-rq {
  justify-content: space-between;
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

.test-rq p {
  padding: 0 1rem 0 1rem;
  margin: 0;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.2;
}
/************************************************************************************* End of request.html*************************************************************************************/
